.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #bcbcbe;
  height: 50px;
}

.logo a {
  font-size: 2.5rem;
  font-weight: bold;
  color: #8e4290;
}

.navbar h2 a {
  opacity: 1;
}

.input-search {
  width: 85%;
  height: 40%;
  border: none;
  outline: none;
  background-color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.new-btn {
  font-weight: bold;
  font-size: 1rem;
  border: 1px solid #fff;
  padding: .5rem 1rem;
  border-radius: 1rem;
  background-color: #fff;
  opacity: 1;
}

.new-btn:hover {
  background-color: #8e4290;
  color: #fff;
}

